<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/static/style.css">
        <title>User Page</title>
    </head>
    <body>
        <h1>Genshin Impact Team Builder</h1>
        <div class = "row1">
            <div class = "welcome">
                {% if current_user.is_authenticated %}
                    {{ current_user.username }} are you making your dream team?
                {% endif %}
            </div>
            <div class = "home">
                <form action = "/user" method = "get">
                    <div class = "buttonBox">
                        <button type="submit" class = "all_Buttons" value = "Submit">Home</button>
                    </div>
                </form>
            </div>
            <div class = "signOut">
                <form action = "/logout" method = "get">
                    <div class = "buttonBox">
                        <button type="submit" class = "all_Buttons" value = "Submit">Sign Out</button>
                    </div>
                </form>
            </div>
        </div>
        <h3>Players' Team View</h3>
        <div class = "row2">
            <div class = "addTeam">
                <form action = "/addTeam" method = "get">
                    <div class = "buttonBox">
                        <button type="submit" class = "all_Buttons" value = "Submit">Add Team</button>
                    </div>
                </form>
            </div>
            <div class = "removeteam">
                <form action = "/removeteam" method = "get">
                    <div class = "buttonBox">
                        <button type="submit" class = "all_Buttons" value = "Submit">Remove Team</button>
                    </div>
                </form>
            </div>
            <div class = "editteam">
                <form action = "/editteam" method = "get">
                    <div class = "buttonBox">
                        <button type="submit" class = "all_Buttons" value = "Submit">Edit Team</button>
                    </div>
                </form>
            </div>
            <div class = "shareteam">
                <form action = "/shareteam" method = "get">
                    <div class = "buttonBox">
                        <button type="submit" class = "all_Buttons" value = "Submit">Share Team</button>
                    </div>
                </form>
            </div>
        </div>
        {% for row in results %}
            <table>
                <thead>
                    <td colspan="4">Team:</td>
                </thead>
                
                <tbody>
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>	
                    </tr>
                    <tr>
                        <td><img src="/static/pictures/characters/{{row[0]}}.jpg"/></td>
                        <td><img src="/static/pictures/characters/{{row[1]}}.jpg"/></td>
                        <td><img src="/static/pictures/characters/{{row[2]}}.jpg"/></td>
                        <td><img src="/static/pictures/characters/{{row[3]}}.jpg"/></td>	
                    </tr>
                </tbody>
               
            </table>
            <br><br>
            {% endfor %}
    </body>
</html>