<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/static/style.css">
        <title>Home Page</title>
    </head>
    <body>
        <h1>Genshin Impact Team Builder</h1>
        <div class = "center">
            <h2>Login Page:</h2>
            <form action = "http://127.0.0.1:5000/login" method = "get">
                <div class = "buttonBox">
                    <button type="submit" class = "all_Buttons" value = "Submit">Login</button>
                </div>
            </form>
            <h2>Sign Up Page:</h2>
            <form action = "http://127.0.0.1:5000/signup" method = "get">
                <div class = "buttonBox">
                    <button type="submit" class = "all_Buttons" value = "Submit">Sign Up</button>
                </div>
            </form>
        </div>
    </body>
</html>