<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/static/style.css">
        <title>User Page</title>
    </head>
    <body>
        <h1>Genshin Impact Team Builder</h1>
        <div class = "row1">
            <div class = "welcome">
                {% if current_user.is_authenticated %}
                    {{ current_user.username }}
                {% endif %}
            </div>
            <div class = "back">
                <form action = "/teammanage" method = "get">
                    <div class = "buttonBox">
                        <button type="submit" class = "all_Buttons" value = "Submit">Back</button>
                    </div>
                </form>
            </div>
            <div class = "signOut">
                <form action = "/logout" method = "get">
                    <div class = "buttonBox">
                        <button type="submit" class = "all_Buttons" value = "Submit">Sign Out</button>
                    </div>
                </form>
            </div>
        </div>
        <h3>Players' Team Share View</h3>
        <div class = "row2">
            <form action= "/share" method = "post">
                <select name= 'team'>
                    {% for row in list1 %}
                    <option value= '{{ row[0] }}' selected= "selected">{{ row[0] }}, {{ row[1] }}, {{ row[2] }}, {{ row[3] }}, {{ row[4] }}, 
                    {% if row[5] == 1 %}
                        shared
                    {% endif %}
                    {% if row[5] == 0 %}
                        not shared
                    {% endif %}
                    </option>
                    {% endfor %}
                </select>
                <div class = "buttonBox">
                    <button type="submit" class = "all_Buttons" value = "Submit">Submit</button>
                </div>
            </form> 
        </div>
    </body>
</html>