<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/static/style.css">
        <title>Sign Up Page</title>
    </head>
    <body>
        <h1>Genshin Impact Team Builder</h1>
        <div class = "center">
            <h2>Sign Up Info:</h2>
            <form action= "/register" method = "post">
                <label for="email">Email: </label>
                <input type="text" name="Email" />
                <br><br>
                <label for="password"> Password: </label>
                <input type="password" name="Password" />
                <br><br>
                <div class = "buttonBox">
                    <button type="submit" class = "all_Buttons" value = "Submit">Sign Up</button>
                </div>
            </form>
            <br><br>
            <form action = "/login" method = "get">
                <div class = "buttonBox">
                    <button type="submit" class = "all_Buttons" value = "Submit">Login Page</button>
                </div>
            </form>
        </div>
    </body>
</html>